body{
  margin: 0px;
  padding: 0px;
}

body.borde{
  background-color: red;
}

#phaser{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #fdcf58;
	background-image: url('../assets/skies/Logo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}